.container {
  height: 100vh;
  background-image: url("../../photos/Deadlift-2.jpg");
  background-position: center;
  background-size: cover;
}

.login {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.logo {
  flex: 3 0 auto;
  border: 5px black solid;
  margin-top: 150px;
  margin-bottom: 50px;
}

.loginScreen {
  flex: 3 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  padding: 80px 40px 80px 40px;
}

.input {
  border-radius: 3px;
  background-color: transparent;
  border-style: none;
  border-bottom: #FA8072 solid;
  margin: 5px;
  width: 200px;
  filter: opacity(0.7);
  margin-bottom: 10px;
}

::placeholder {
  color: white;
  font-family: 'fira sans condensed';
}

.forgotPassword{
  padding-left: 50px;
  color: white;
}

#signUp {
  color: white;
  padding-left: 5px;
}

.submit {
  border-radius: 20px;
  background-color: #FA8072;
  color: white;
  width: 208px;
  margin-left: 3px;
  padding: 5px;
  border-style: none;
  font-family: 'fira sans condensed';
  font-size: 15px;
  margin-top: 20px;
}

button:hover {
  background-color: black;
  opacity: 0.5;
}

.links {
  padding-top: 30px;
  font-family: 'fira sans condensed';
}

.login-div {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-helper-text {
  flex: 1;
  text-align: left;
}

.login-helper-text h1{
  font-family: 'nanum gothic';
  color: white;
  padding-left: 30%;
  font-size: 45px;
}

.login-helper-text h3{
  color: white;
  font-family: 'nanum gothic';
  text-align: left;
  padding-left: 30%;
  font-size: 20px;
}