body {
    min-height: 100vh;
    background-image: url("Deadlift-2.jpg");
    background-position: center;
    background-size: cover;
    
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    flex: 3 0 auto;
    border: 5px black solid;
    margin-top: 150px;
    margin-bottom: -20px
    ;
}

.loginScreen {
    flex: 3 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 80px 40px 80px 40px;
}

.user {
    margin: 5px;
    filter: opacity(0.7) ;
}

.user input {
    width: 200px;
    border-radius: 3px;
    background-color: transparent;
    border-style: none;
    border-bottom: #FA8072 solid;
}

.user ::placeholder {
    color: white;
    font-family: 'fira sans condensed';
}


.pass {
    margin: 5px;
    filter: opacity(0.7) ;
    margin-top: 20px; 
}

.pass input {
    width: 200px;
    border-radius: 3px;
    background-color: transparent;
    border-style: none;
    border-bottom: 3px #FA8072 solid;
}

.pass ::placeholder {
    color: white;
    font-family: 'fira sans condensed';
}

.forgotPassword{
    padding-left: 50px;
    color: white;
}

.signUp {
    color: white;
    padding-left: 5px;
}

button {
    border-radius: 20px;
    background-color: #FA8072;
    color: white;
    width: 208px;
    margin-left: 3px;
    padding: 5px;
    border-style: none;
    font-family: 'fira sans condensed';
    font-size: 15px;
    margin-top: 20px;
}

button:hover {
    background-color: black;
    opacity: 0.5;
}

.links {
    padding-top: 30px;
    font-family: 'fira sans condensed';
}