<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/home.css">
    <script src="/public/js/home.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="nav-bar"> 
        <img class="logo" src="/photos/mock-logo-removebg-preview.png" alt="logo">
        <input class="search" type="text" placeholder="Search">
        <button id="newUserPost">+</button>
    </nav>
    <div id="container">
    </div>
</body>
</html>