<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/public/js/style.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rep Powerlifting</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        
    <!--This is the logo div-->
    <div class="logo">
        <p>Rep<br>Powerlifting</p>
    </div>

    <!--This is the login screen div-->
    <div class="loginScreen">
        <form action="/login" method="POST">
        <div class="user">
        <input id="userName"type="text" placeholder="Username">
    </div>
   
    <div class="pass">
        <input id="passWord" type="password" type="text" placeholder="Password">
    </div>
   
    <button class="submit" form>Login</button>
       </form>
    <div class="links">
        <a id="signUp" href="#"value="Show div">Sign Up</a> 
        <a class="forgotPassword" href="#">Forgot Password</a>
    </div>

    </div>

    <!--this is the sign up form -->
    <div class="hide" id="signUpForm">
        <h3>Sign Up</h3>
        <p>It only takes a second!</p>
        <hr>
        <form action="/register" method="POST">
        <input id="firstName" type="text" placeholder="First name" name="firstName"required>
        <input id="lastName" type="text" placeholder="Last name" name="lastName"required><br>
        <input id="email" type="email" placeholder="Email" name="email"required>
        <input id="pW" type="password" placeholder="New password" name="password"required><br>
        <input id="male" type="checkbox" placeholder="Male">Male
        <input id="female" type="checkbox" placeholder="Female">Female<br>
        <button id="signUpSubmit">Sign Up</button>
        </form>
    </div>
</body>
</html>