.posts {
  display: flex;
  flex-direction: column-reverse;
}

.comments-div {
  width: 598px;
  height: 200px;
  border: 1px lightgray solid;
  margin: auto;
  margin-top: -4px;
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: 50px 100px 50px;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: 
  'B B B B'
  'C C C C'
  'T T T T';
}

.comments {
  grid-area: C;
}

.leave-comment {
 grid-area: T;
}

.enter-comment {
  width:594px;
  border: none;
  border-top: 1px solid lightgray;
  resize: none;
  outline: none;
}

.post-comment {
  grid-area: B;
  width: 65px;
  position: absolute;
  margin-left: -70px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: lightgray;
  margin-top: 15px;
}

.post-comment:hover {
  background: transparent;
  color: black;  
}

.action-buttons {
  grid-area: B;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  grid-template-areas: 
  "A N N N";
}

.action-buttons button {
  background: transparent;
  border: none;
  grid-area: A;
}

.action-buttons img{
  width: 25px;
}