#container { 
   
}

.newPost {
    border: 1px solid lightgray; 
    width: 550px; 
    height: 600px; 
    margin: auto; 
    margin-top: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-bar {
    display: flex;
    position: fixed;
    height: 20px;
    width: 600px;
    border: 5px solid black;
}


