nav {
  height: 3rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.add-post {
  width: 1.5rem;
}

.nav-logo-div {
  flex: 1;
  display: absolute;
  left: 0px;
}

.add-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 150px;
}

.logo-image {
  width: 75px;
  margin-top: -10px;
  margin-right: 250px;
}